@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  background: linear-gradient(180deg, #A90202 0%, #430101 100%);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.home-page {
  background-image: url('/images/background.svg');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
