.volunteers-container {
  display: flow-root;
  max-height: 40vh; /* Ensures the component takes up 40% of the viewport height */
  overflow-y: auto; /* Allows scrolling when the content exceeds the height */
}

.volunteer-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Add a subtle separator between rows */
}

.volunteer-name,
.volunteer-phone {
  font-size: 1rem; /* Set a responsive font size */
  word-wrap: break-word; /* Ensures long words are wrapped */
}

@media (max-width: 768px) {
  /* On smaller screens, reduce padding and font sizes */
  .volunteer-info {
    padding: 5px;
  }

  .volunteer-name,
  .volunteer-phone {
    font-size: 0.875rem;
  }
}
